@import 'assets/styles/_variables';

.linkBack {
  color: $color-white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  font-weight: bold;
  font-size: 30px;

  & img {
    margin-right: 20px;
  }
}
