# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.eslintcache


# dependencies
node_modules

# testing
/coverage
coverage
report.json

# production
build
dist

# misc
.DS_Store
.env.*.local
.env.local

npm-debug.log*
*.log

.idea

# vk-redirect-page
.cache

# next.js
.next

!rollup.config.js
!webpack.config.js

storybook-static
!/.storybook/main.js
!/.storybook/preview.js

tsconfig.tsbuildinfo
/test-results/
/playwright-report/
/playwright/.cache/

# contentlayer
.contentlayer

*.tgz

# Added by cargo

/target
