always-auth=true
strict_ssl=false
@memebattle:registry=http://npm.mems.fun:4873
//npm.mems.fun:4873/:_authToken=${GITLAB_VERDACCIO_PASSWORD}
//npm.mems.fun:4873/:username=${GITLAB_VERDACCIO_USERNAME}
