.cardsPanel {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  bottom: 0;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.ligrettoPackWrapper {
  margin-left: 1rem;
}

.stackWrapper {
  margin-right: 4rem;
}

.ligrettoActivePlayer {
  margin-left: 3.1rem;
  margin-right: 1rem;
}

@media all and (max-width: 810px) and (min-width: 560px) {
  .stackWrapper {
    margin-right: 2rem;
  }

  .ligrettoPackWrapper {
    margin-left: 0.5rem;
  }

  .ligrettoActivePlayer {
    display: none;
  }
}

@media all and (max-width: 560px) and (min-width: 460px) {
  .cardsPanel {
    transform: scale(0.8);
    margin-bottom: 0;
  }

  .stackWrapper {
    margin-right: 0.7rem;
  }

  .ligrettoPackWrapper {
    margin-left: 0.3rem;
  }

  .ligrettoActivePlayer {
    display: none;
  }
}

@media all and (max-width: 460px) and (min-width: 374px) {
  .cardsPanel {
    transform: scale(0.7);
    margin-bottom: 0;
  }

  .stackWrapper {
    margin-right: 0.5rem;
  }

  .ligrettoPackWrapper {
    margin-left: 0.3rem;
  }
  .ligrettoActivePlayer {
    display: none;
  }
}

@media all and (max-width: 375px) {
  .cardsPanel {
    transform: scale(0.55);
    margin-bottom: 0;
  }

  .stackWrapper {
    margin-right: 0.7rem;
  }

  .ligrettoActivePlayer {
    display: none;
  }
}
