::-webkit-scrollbar {
  border-radius: 1rem;
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: #fce26b;
  border-radius: 1rem;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 1rem;
}
