.button {
  border-radius: 12px;
  color: white;
  border: 1px solid rgba(112, 112, 112, 0.3);
  background: #4eaa7c;
  width: 364px;
  height: 54px;
  font-weight: bold;
  font-size: 30px;
}

.button.red {
  background: #f93e3e;
}
