@font-face{
    font-family: 'OpenGostTypeATT-Regular';
    src: url('./OPENGOSTTYPEA-REGULAR.eot');
    src: url('./OPENGOSTTYPEA-REGULAR.eot?iefix') format('eot'),
    url('./OpenGostTypeATT-Regular.woff') format('woff'),
    url('./OpenGostTypeATT-Regular.ttf') format('truetype'),
    url('./OpenGostTypeATT-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}