@import 'assets/styles/_variables.scss';

.rooms {
  display: flex;
  flex-direction: column;
  max-width: 798px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  height: 370px;
  overflow: hidden;

  &.empty {
    .notFound {
      display: flex;
      width: 100%;
      height: 100%;
      color: white;
      align-items: center;
      justify-content: center;
      font-size: 50px;
      flex-direction: column;
    }
  }
}

.room {
  width: 100%;
  height: 74px;
  min-height: 74px;
  color: $color-white;
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  background: $color-primary;
  cursor: pointer;

  &.disabled {
    cursor: default;
    background: $color-disabled-dark;
  }

  &.disabled .play {
    visibility: hidden;
  }
}

.play {
  margin-right: 52px;
  height: 39px;
}

.players {
  margin-left: auto;
  margin-right: 37px;
  letter-spacing: 10px;
}

.name {
  margin-left: 47px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
