@font-face{
    font-family: 'NautilusPompilius';
    src: url('./NautilusPompilius.eot');
    src: url('./NautilusPompilius.eot?iefix') format('eot'),
    url('./NautilusPompilius.woff') format('woff'),
    url('./NautilusPompilius.ttf') format('truetype'),
    url('./NautilusPompilius.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}