@keyframes logoSize {
  from {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes sublineMove {
  from {
    transform: translate(-200px, 150px) rotate(-90deg);
    opacity: 0;
  }
  9% {
    opacity: 0;
  }
  10% {
    transform: translate(-200px, 150px) rotate(-90deg);
  }
  60% {
    transform: rotate(3deg);
    opacity: 1;
  }
  to {
    transform: rotate(0);
  }
}


@keyframes logoCircleSize {
  from {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}


.memebattleIcon {
  animation: logoSize 1.6s;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: overlay!important;
}


#iconWhiteCircle {
  transform-origin: 50% 50%;
  animation: logoCircleSize 1.6s;
}

#iconYellowCircle {
  transform-origin: 50% 50%;
  animation: logoCircleSize 1.6s;
}

.subline {
  transform-origin: 0 400%;
  animation: sublineMove 1.4s;
}
