
.dropZone {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  color: #27AE60;
  max-width: 172px;
  height: 226px;
  min-width: 172px;


  &__border {
    background: #FFFFFF;
    border: 4px solid #27AE60;
    border-radius: 6px;
  }
  &__img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    margin-top: auto;
  }

}

