@import '../../../assets/styles/_variables.scss';

@keyframes input-icon-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.searchInputWrapper {
  min-height: 50px;
  max-height: 50px;
  height: 50px;

  width: 100%;
  display: inline-flex;

  .icon {
    display: inline-flex;
    justify-content: center;
    background: $color-primary;
    height: 100%;
    width: 50px;
    cursor: pointer;

    img {
      width: 16px;
    }

    &.isLoading img {
      animation: input-icon-rotation 2s infinite linear;
    }
  }

  &.disabled {
    color: $color-disabled;

    .icon {
      background: $color-disabled;
      cursor: default;
    }

    .searchInput::placeholder {
      color: $color-disabled;
    }
  }

  .searchInput {
    border: 0;
    padding-left: 22px;
    height: 100%;
    width: 100%;

    color: $color-primary;

    &::placeholder {
      color: $color-primary-lighten;
    }
  }
}
