.roomsPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search {
  margin-bottom: 33px;
}

.bottomButtons {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.header {
  margin-bottom: 0;
}
