@mixin position-absolute-center($mtop) {
  position: absolute;
  margin: $mtop auto;
  left: 0;
  right: 0;
}

@mixin position-relative($widht, $height, $background, $position) {
  width: $widht;
  height: $height;
  background: $background;
  position: $position;
}

@mixin title-text($size, $style, $weight, $color) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  color: $color;
}

/*_____________________________________________________________________________________________________*/
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

.mobile {
  display: none;
}

#root {
  background-image: url("assets/images/pool_table.png");
  //height: 155vh;
}

.big-header {
  @include position-relative(100%, 200px, rgba(0, 0, 0, 0.3), relative);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  margin-bottom: 1%;
  .title {
    @include position-absolute-center(1%);
    @include title-text(6em, inherit, bold, #fff);
    width: 50%;
    height: 100px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.0);
    transition: text-shadow 0.3s;
  }
  .title:hover {
    text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.7);
  }
  .subtitle {
    @include position-absolute-center(9%);
    display: inline-block;
    right: -50%;
    width: 50%;
    height: 10px;
    @include title-text(1.5em, italic, normal, #fff);
  }
  .user-comp {
    position: absolute;
    right: 5%;
    top: 10%;
  }
  .user-comp div {
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.2);
  }

}

.small-header {
  @include position-relative(100%, 50px, rgba(0, 0, 0, 0.3), relative);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  margin-bottom: 1%;
  height: 8vh;
  .title {
    @include position-absolute-center(0.5%);
    @include title-text(2em, inherit, bold, #fff);
    width: 50%;
    height: 30px;
    margin: 0% 40%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.0);
    transition: text-shadow 0.3s;
  }
  .title:hover {
    text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.7);
  }
  .subtitle {
    @include position-absolute-center(2%);
    display: inline-block;
    right: -50%;
    width: 50%;
    height: 10px;
    @include title-text(1em, italic, normal, #fff);
  }
  .user-comp {
    position: absolute;
    right: 5%;
    top: 10%;
  }
  .user-comp div {
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.2);
  }

}
//{
//  .title {
//    @include title-text(2em, inherit, bold, #fff);
//    height: 30px;
//  }
//  .subtitle {
//    @include title-text(1em, italic, normal, #fff);
//  }
//}

.fixed {
  position: fixed;
  color: #fff;
  bottom: 30px;
  font-size: x-large;
  font-weight: bold;
  right: 83px;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: -webkit-center;
  padding-top: 1%;
  font-size: 1.2em;
  color: rgba(225,225,225,0.8);
  font-weight: 400;
}

/*___________________________________________________________________________________________________________*/
@import "css/avatar";
@import "css/roomList";
//------------------------------------------------
@import "css/notification";
//------------------------------------------------
@import "css/modal_game_over";
/*___________________________________________________________________________________________________________*/
.btnPage {
  cursor: pointer;
  font-weight: normal;
  color: #080808;
  font-size: 14px;
  background: #ffffff;
  padding: 0px 15px;
  border: solid #fff 1px;
  text-decoration: none;
  display: block;
}

.changeAvatar {
  width: 135px;
  background: #fff;
}

.avatarInput {
  margin-top: 20px;

}

.video-ligretto-rules {
  height: 500px;
}

.empty {
  height: 120px;
  width: 80px;
  position: relative;
  display: inline-block;
  margin-left: 1%;
  /*box-shadow: 3px 4px 8px 2px rgba(0,0,0,0.69);*/
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.39);

}

.row-cards {
  display: inline-block;
  width: 50%;
}

.card-container {
  cursor: pointer;
  height: 120px;
  width: 80px;
  /*perspective: 600;*/
  position: relative;
  display: inline-block;
  margin-left: 1%;
}

.card {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right:0;
  box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.69);
  border-radius: 6px;
  color: #fff;
  text-align: center;
}

.card-container:first-child {
  color: #1b6d85;
}

.card-back {
  /*background-image: url("./images/color/1.jpg");*/
  background-image: url("https://thomaslmcdonald.files.wordpress.com/2010/09/3fbfd-beeback.jpg");
  background-size: 100% 100%;
}

.card-value {
  font-size: 4em;
  font-weight: bold;
  /*margin-left: 20%;*/
}

.card-title {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 106%;
  right: 14%;
  font-size: 0.8em;
  font-weight: bold;
  cursor: default;
}

.btn-ready {
  position: absolute;
  top: -95%;
  right: 40%;
}

.front svg {
  height: 47%;
  fill: black;

}

.front svg:first-child {
  transform: rotatex(180deg);
}

.front svg:last-child {
  margin: 6px;
}

.card .back {
  background: #fff;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

.card .back svg {
  vertical-align: middle;
}

.card-field {
  width: 100%;
  height: 90vh;
  padding-top: 5%;
  background-image: url("assets/images/pool_table.png");

}

.block-card-place {
  padding-top: 3vh;
  position: relative;
  width: 40%;
  top: 26vh;
  left: 25%;
  /*border: 3px solid #0b3112;*/
  border-radius: 5%;
  /*box-shadow: 3px 4px 8px 2px rgba(0,0,0,0.69);*/
  text-align: center;
}

.block-card-place div {
  display: inline-block;
}

.card-place {
  height: 120px;
  width: 80px;
  display: inline-block;
  margin: 10px;
  border-radius: 5%;
  background: rgba(157, 157, 157, 0.6);

}

.main-card-place {
  width: 30%;
  position: relative;
  left: 37%;
  top: 30vh;
}

.main-card-place div {
  display: inline-block;
  margin-right: 2%;
}

.pack-first {
  position: absolute;
  left: -11%;
}

.pack-last {
  position: absolute;
  left: 26%;
}

.pack {
  /* сделать эффект колоды карт*/
}

.table-components {
  position: relative;
  top: -21vh;
  left: -27%;
  transform: rotateZ(90deg);
}

.table-components-last {
  position: relative;
  top: -113vh;
}

.table-components-next {
  position: relative;
  top: -72vh;
  right: -25%;
  transform: rotateZ(-90deg);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main {
  height: 90vh;
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  //border: 1px solid;
  padding: 2%;
  position: relative;
}

.active-zone {
  width: 82%;
  height: 17vh;
  position: absolute;
  //border: 1px solid;
  margin: auto;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
}

.play-zone {
  width: 55%;
  height: 45vh;
  //border: 1px solid;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.rival-zone-top {
  margin-top: - 30px;
  margin-bottom: 10px;
  width: 60%;
  height: 17vh;
  position: absolute;
  //border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.rival-zone-top div {
  display: inline-block;

}

.rival-zone-left {
  width: 17vh;
  height: 55vh;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}

.rival-zone-right {
  width: 17vh;
  height: 55vh;
  position: absolute;
  //border: 1px solid;
  margin-top: auto;
  margin-bottom: auto;
  right: 2%;
  top: 0;
  bottom: 0;
}

.rival-zone-right .card-container,
.rival-zone-right .empty {
  transform: rotateZ(-90deg);
  transform-origin: 50% 50%;
  margin-top: -30%;
}

.rival-zone-left .card-container,
.rival-zone-left .empty {
  transform: rotateZ(90deg);
  transform-origin: 50% 50%;
  margin-top: -30%;
}

.rival-zone-right div,
.rival-zone-left div {
  margin-left: 13%;
  margin-bottom: 6%;
}

.user-component {
  text-align: center;
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
}

.user-name {
  font-size: 1.0em;
  font-weight: bold;
  display: block;
  text-align: center;
}


.container-line {
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;

  text-align: left;
  padding-left: 5%;
  color: #c3c3c3;
  font-weight: bold;
  padding-top: 5px;
}

.button-green {
  background: linear-gradient(to top, #12844d, #358e5e);
  color: white;
  text-align: center;
  padding: 4px 8px;
  min-width: 200px;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  //width: 250px;
  display: inline-block;
  border-radius: 2px;
}

.button-green:hover {
  text-decoration: none;
  background: linear-gradient(to top, #12844d, #14643d);
  color: white;
  cursor: pointer;
}
.title-step{
  color: #000000;
  padding: 10px;
  font-weight: normal;
}


@media all and (min-width: 1200px){
  .user-block{
    width: 40%;
    float: left;
    margin-left: 8%;
    margin-bottom: 5%;
  }
  .title-step {
    font-size: 24px;
  }
  .list-room{
    margin-top: 5%;
    width: 40%;
    float: left;
    margin-left: 4%;
    margin-bottom: 20px;
    border: 0px solid;
  }
}
@media all and (min-width: 1000px) and (max-width: 1300px) {

  .main {
    height: 100%;
  }
  .active-zone, .rival-zone-top {
    width: 77%;
  }

  .big-header{
    //@include position-relative(100%, 200px, rgba(0, 0, 0, 0.3), relative);
    //background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    margin-bottom: 1%;
    .title {
      @include title-text(4em, inherit, bold, #fff);
    }
    .subtitle {
      font-size: 1.2em;
    }
  }
  .small-header{
    .subtitle {
      margin: 3% 50%;
    }
  }
}


@media all and (min-width: 600px) and (max-width: 1000px) {
  .input{
    width: 60%;
  }
  .user-component-avatar {
    width: 60px;
    height: 60px;
  }
  .user-component {
    display: none !important;
  }
  .main {
    height: 100%;
  }
  .card-value {
    font-size: 3em;
  }
  .card-container, .empty {
    height: 90px;
    width: 60px;
  }
  .active-zone, .rival-zone-top {
    width: 80%;
    border: 0;
  }

  .rival-zone-left, .rival-zone-right {
    border: 0;
  }

  .title-step {
    font-size: 0.8em;
    padding: 10px;
  }
  .big-header{
    height: 150px;
    .title {
      @include title-text(3em, inherit, bold, #fff);
    }
    .subtitle {
      font-size: 1em;
    }
  }
  .user-block, .list-room{
    width: 90%;
  }
  header {
    //@include position-relative(100%, 200px, rgba(0, 0, 0, 0.3), relative);
    //background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    height: 6vh;
    margin-bottom: 3%;
    .title {
      @include title-text(3.3em, inherit, bold, #fff);
    }
  }
  .small-header{
    .subtitle {
      margin: 3.5% 50%;
    }
  }
}


@media all and (max-width: 600px) {
  .input{
    width: 90% !important;
  }
  .mobile {
    display: inline-block;
  }
  .play-zone {
    width: 42%;
  }
  .user-component {
    margin-left: -15px;
  }
  .user-component-avatar {
    width: 40px;
    height: 40px;
  }
  .card-title {
    right: -25%;
  }
  .main {
    height: 100%;
  }
  .card-value {
    font-size: 1.5em;
  }
  .card-container, .empty {
    height: 60px;
    width: 40px;
  }
  .active-zone, .rival-zone-top {
    width: 95%;
    border: 0;
  }

  .rival-zone-left, .rival-zone-right {
    border: 0;
  }


  .list-room .items {
    width: 90%;
    margin: 0 5%;
  }
  .user-block, .list-room{
    width: 90%;
  }
  .title-step {
    font-size: 4.7vw !important;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .big-header{
    height: 70px;
    .title {
      @include title-text(2em, inherit, bold, #fff);

      position: relative;
      text-align: center;
      width: 100%;
      padding-top: 5px;
    }
    .subtitle {
      display: none;
      font-size: 0.9em;
    }
  }
  .user-comp, .user-component{
    display: none !important;
  }
  header {
    //@include position-relative(100%, 200px, rgba(0, 0, 0, 0.3), relative);
    //background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    height: 6vh;
    margin-bottom: 3%;
    .title {
      @include title-text(2.3em, inherit, bold, #fff);
    }
  }

  .modal__player_status, .modal__player_score {
    font-size: 1em;
  }

  .small-header{
    padding-top: 2px;
    .title {
      font-size: 1.5em;
      margin: 2% auto;
    }
    .subtitle {
      display: none;
      margin: 5% 50%;
    }
  }
}

