/**
* Base styles
*/
@import 'variables';
@import 'normalize';

/**
* Get fonts
*/
@import url('../fonts/nautilus-pompilius-converted/NautilusPompilius.scss');
@import url('../fonts/open-gost-converted/OpenGostTypeATT-Regular.scss');

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "armonela";
  src: url("../fonts/armonela/ArmonelaBlack.ttf") format("truetype");
}