$color-white: #fff;
$color-primary: #4EAA7C;
$color-primary-darken: #377757;
$color-primary-lighten: #AFE3C9;
$color-disabled: #828282;
$color-disabled-dark: #707070;
$color-error: #F93E3E;
$color-yellow: #E2BC3F;
$color-blue: #6987C9;
$color-green: #12A52D;
$color-grey: #777777;

$font-size-small: 1.6rem;
$font-size-medium: 2rem;
$font-size-big: 2.5rem;
$font-size-biggest: 3.2rem;
