$color-white: #fff;
$color-primary: #4eaa7c;
$color-primary-darken: #377757;
$color-primary-lighten: #afe3c9;
$color-disabled: #828282;
$color-disabled-dark: #707070;
$color-error: #f93e3e;
$color-yellow: #e2bc3f;
$color-blue: #6987c9;
$color-green: #12a52d;
$color-grey: #777777;

$font-size-small: 1.6rem;
$font-size-medium: 2rem;
$font-size-big: 2.5rem;
$font-size-biggest: 3.2rem;
