$color-white: #fff;
$color-primary: #0c7177;
$color-primary-active: #02565b;
$color-secondary: #fce063;
$color-disabled: #828282;
$color-disabled-dark: #435040;
$color-error: #5f0808;

$font-size-small: 1.6rem;
$font-size-medium: 2rem;
$font-size-big: 2.5rem;
$font-size-biggest: 3.2rem;
