.root {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.logo {
  flex: 1;
  min-height: 15rem;
}

.cards {
  flex: 1;
  display: flex;
  width: 100%;
}
