.opponentCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.positionTop {
  margin-top: 1rem;
  transform: translate(-50%);
}

.positionLeft {
  transform: translate(-6rem, -6rem) rotate(90deg);
}

.positionRight {
  transform: translate(6rem, -6rem) rotate(270deg);
}

.positionLeftTopCorner {
  transform: translate(-3.5rem, 4rem) rotate(-45deg) scale(0.7);
}

.positionRightTopCorner {
  transform: translate(3.5rem, 4rem) rotate(45deg) scale(0.7);
}

.positionBottom {
  margin-bottom: 1rem;
}

@media all and (max-width: 732px) and (min-width: 376px) {
  .positionLeft {
    transform: translate(-8rem, -6rem) rotate(90deg) scale(0.7);
  }

  .positionRight {
    transform: translate(8rem, -6rem) rotate(270deg) scale(0.7);
  }

  .positionTop {
    transform: rotate(180deg) translate(50%) scale(0.7);
  }
}

@media all and (max-width: 375px) {
  .positionLeft {
    transform: translate(-9rem, -6rem) rotate(90deg) scale(0.5);
  }

  .positionRight {
    transform: translate(9rem, -6rem) rotate(270deg) scale(0.5);
  }

  .positionTop {
    transform: rotate(180deg) translate(50%, 1.5rem) scale(0.5);
  }
}
