.user-block {
  width: 60%;
  margin: 5% auto;
  min-width: 300px;
  position: relative;

  text-align: -webkit-center;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 0;
  .container-avatar {
    width: 100%;
    min-width: 300px;
    text-align: -webkit-center;
    font-size: 2em;
    margin: 2% auto;
    margin-bottom: 0;
    padding-top: 4%;
    .title {
      padding-top: 2%;
    }
    .main-avatar {
      padding: 15px 20px;
      text-align: center;
      margin: 0px;
      .avatar {
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        width: 140px;
        height: 140px;
        background-color: rgba(255, 255, 255, 1);
        margin-bottom: 5%;
        .input {
          border: 1px solid rgba(0, 0, 0, 0);
          background: rgba(0, 0, 0, 0);
        }
      }
    }
  }
}
.user-component {
  width: 76px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: rgba(0, 0, 0, 0);
  color: #fff;
}

.user-component-avatar {
  width: 80px;
  height: 85px;
}

.user-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}