@import 'assets/styles/_variables';

.card {
  height: 120px;
  width: 80px;
  position: relative;
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.5);
  transition: box-shadow 20ms;
  overflow: hidden;
  display: flex;
  justify-content: center;
  user-select: none;

  &:hover {
    box-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.5);
  }

  &.disabled {
    cursor: default;
    box-shadow: none;
  }

  &.red {
    background: $color-red;
  }

  &.green {
    background: $color-green;
  }

  &.blue {
    background: $color-blue;
  }

  &.yellow {
    background: $color-yellow;
  }

  &.empty {
    background: #000000;
    opacity: 0.7;
  }

  &.hidden {
    background: gray;
    background-image: url('~assets/images/bubble.png');
    background-size: 100%;
    opacity: 1;
  }

  .value {
    color: #fff;
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
  }
}