/**
* Base styles
*/
@import 'variables';
@import 'normalize';

/**
* Get fonts
*/
@import url('../fonts/nautilus-pompilius-converted/NautilusPompilius.scss');
@import url('../fonts/open-gost-converted/OpenGostTypeATT-Regular.scss');
