/**
* Get fonts
*/
@import url('../fonts/nautilus-pompilius-converted/NautilusPompilius.scss');
@import url('../fonts/open-gost-converted/OpenGostTypeATT-Regular.scss');

/**
* Base styles
*/
@import './variables.scss';
@import './normalize.scss';

html {
    height: 100%;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    height: 100%;
    background-color: #e0e0df;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: "OpenGostTypeATT-Regular", Tahoma;
}

h1 {
    font-family: "NautilusPompilius", Courier, sans-serif;
    font-size: $font-size-biggest;
    font-weight: 400;
    color: $color-primary;
}

h2 {
    font-family: "NautilusPompilius", Courier, sans-serif;
    font-size: $font-size-big;
    font-weight: 400;
    color: $color-primary;
}

p {
    font-family: "OpenGostTypeATT-Regular", Tahoma;
    font-size: $font-size-medium;
    letter-spacing: 0.2rem;
    color: $color-primary;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 86400s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}

label {
    margin-bottom: 0rem;
}

#app {
    height: 100%;
}

:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
    box-shadow: none !important;
}
