.logo {
  flex: 1;
  text-align: center;
  margin: 0;
  align-self: center;

  font-family: 'armonela', Serif;
  font-weight: normal;
  font-size: 7rem;
  color: #efffe6;

  &:hover {
    text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.7);
  }
}
