.authForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30vw;

    .input {
        font-size: 20px;

        display: block;

        width: 100%;
        margin-bottom: 15px;
        padding: 5px 15px;

        transition: 1s;

        color: white;
        border: none;
        border-bottom: 2px solid white;
        outline: none;
        background: transparent;

        &:focus {
            border-bottom: 2px solid red;
        }
    }

    .submit {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        max-width: 200px;
        height: 40px;

        cursor: pointer;
        transition: 1s;

        border: none;
        border-radius: 20px;
        //background-color: $color-primary;

        &:hover {
            background: darken(blue, 10);
        }
    }

    .rules {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        margin: 10px 0;
    }

    .checkbox {
        display: block;
    }
}

.authContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  font-family: 'OpenGostTypeATT-Regular', serif;
  background: url('assets/images/design/background.jpg') no-repeat center center;
}
