.tableCardsWrapper {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.tableCards {
  width: 58rem;
}

@media all and (max-width: 375px) {
  .tableCards {
    transform: scale(0.5);
  }
}

@media all and (max-width: 732px) and (min-width: 376px) {
  .tableCards {
    width: 20rem;
    transform: scale(0.7);
  }
}
