name: 'Blog pull request'

on:
  pull_request:
    branches: [ master ]
    paths:
      - 'apps/blog/**'
      - '.docker/Blog_**'
      - '.github/workflows/blog-**'
      - 'pnpm-lock.yaml'

env:
  NODE_OPTIONS: --max-old-space-size=4096

jobs:

  lint:

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - uses: ./.github/actions/prepare-nodejs
        name: Prepare Node.js

      - name: Lint code
        run: pnpm blog:lint

  tests:

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - uses: ./.github/actions/prepare-nodejs
        name: Prepare Node.js

      - name: Run tests
        run: pnpm blog:test:ci

  tsc:

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - uses: ./.github/actions/prepare-nodejs
        name: Prepare Node.js

      - name: Generate articles
        run: pnpm run --filter @memebattle/blog generate

      - name: TS check
        run: pnpm run --filter @memebattle/blog ts-check
