name: 'GameHub pull request'

on:
  pull_request:
    branches: [ master ]
    paths:
      - 'apps/gamehub-client/**'
      - '.docker/GameHub**'
      - '.github/workflows/gamehub**'
      - 'pnpm-lock.yaml'

env:
  NODE_OPTIONS: --max-old-space-size=4096

jobs:

  lint:

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - uses: ./.github/actions/prepare-nodejs
        name: Prepare Node.js

      - name: Lint code
        run: pnpm gamehub-client:lint

  tsc:

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - uses: ./.github/actions/prepare-nodejs
        name: Prepare Node.js

      - name: TS check
        run: pnpm run --filter @memebattle/gamehub-client ts-check
