name: 'Ligretto pull request'

on:
  pull_request:
    branches: [ master ]
    paths:
      - 'apps/ligretto-**'
      - 'packages/ligretto-shared/**'
      - 'packages/auth-front/**'
      - 'packages/ui/**'
      - '.docker/Ligretto-**'
      - .github/workflows/ligretto-pr.yml
      - '.env*'
      - 'yarn.lock'

env:
  NODE_OPTIONS: --max-old-space-size=4096

jobs:

  lint:

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - uses: ./.github/actions/prepare-nodejs
        name: Prepare Node.js

      - name: Lint code
        run: yarn lint

  tests:

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - uses: ./.github/actions/prepare-nodejs
        name: Prepare Node.js

      - name: Build shared
        run: yarn ligretto-shared:build

      - name: Run tests
        run: yarn ligretto:test:ci

  tsc:

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - uses: ./.github/actions/prepare-nodejs
        name: Prepare Node.js

      - name: TS check
        run: yarn ligretto:ts-check:ci

  e2e:
    env:
      NODE_ENV: test
      APP_KEY: nwpdmmnko5ylXZt_5CMnofXYUVl9Ppte

    services:
      postgres:
        image: postgres:13.4
        ports:
          - 5433:5432
        env:
          POSTGRES_USER: ligretto-core-user
          POSTGRES_PASSWORD: ligretto_pg_password
          POSTGRES_DB: ligretto-core
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    runs-on: ubuntu-22.04
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - uses: ./.github/actions/prepare-nodejs
        name: Prepare Node.js

      - name: Install Playwright Browsers
        run: yarn dlx playwright@1.42.1 install --with-deps chromium

      - name: Migrate database
        run: yarn ligretto:core-backend:migrate

      - name: Start core backend
        run: yarn ligretto:core-backend:start:dev &

      - name: Check core backend app
        run: yarn dlx wait-on --timeout 60000 http-get://127.0.0.1:3333/health

      - name: Start gameplay backend
        run: yarn ligretto:gameplay-backend:start:dev &

      - name: Start frontend
        run: yarn ligretto:front:start:dev &

      - name: Check frontend app
        run: yarn dlx wait-on -c ./apps/ligretto-frontend/waitOnConfig.json --timeout 60000 http-get://127.0.0.1:5173

      - name: Run playwright tests
        run: yarn e2e:start
