name: 'Build, push and deploy docker images'

on:
  push:
    branches: [ master, LIG-122-rename-apps ]

jobs:

  prepare-common:

    runs-on: ubuntu-20.04

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install node
      uses: actions/setup-node@v3
      with:
        node-version: '16.14.2'
        cache: 'yarn'

    - name: Install yarn
      run: npm install --global yarn

    - name: Auth npm
      run: |
        yarn config set -H npmScopes.memebattle.npmRegistryServer "https://npm.pkg.github.com"
        yarn config set -H npmScopes.memebattle.npmAuthToken "${{ secrets.CI_REGISTRY_TOKEN }}"

    - name: Install dependecies
      run: yarn

    - name: Build common-packages
      run: yarn run common-packages:build

    - name: Upload common packages
      uses: actions/upload-artifact@v2
      with:
        name: packages-builds
        path: |
          packages/*/dist
          packages/*/build
          apps/auth-front/dist


  ligretto-frontend-image:

    needs: prepare-common

    runs-on: ubuntu-20.04

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install node
      uses: actions/setup-node@v3
      with:
        node-version: '16.14.2'
        cache: 'yarn'

    - name: Install yarn
      run: npm install --global yarn

    - name: Auth npm
      run: |
        yarn config set -H npmScopes.memebattle.npmRegistryServer "https://npm.pkg.github.com"
        yarn config set -H npmScopes.memebattle.npmAuthToken "${{ secrets.CI_REGISTRY_TOKEN }}"

    - name: Install dependecies
      run: yarn

    - name: Download common packages
      uses: actions/download-artifact@v2
      with:
        name: packages-builds

    - name: Build frontend
      run: yarn run ligretto:front:build
      env:
        SKIP_PREFLIGHT_CHECK: true
        REACT_APP_WEBSOCKET_HOST: https://api.ligretto.app
        REACT_APP_LIGRETTO_CORE_URL: https://core.ligretto.app
        REACT_APP_CAS_PARTNER_ID: 61587c1bdc151b004107a2b5
        REACT_APP_CAS_STATIC: https://cas.mems.fun/static
        REACT_APP_CAS_URL: https://cas.mems.fun/api
        REACT_APP_AMPLITUDE_TOKEN: f55f6d07422dfb26ca4dfbe59a54d609

    - name: Docker login
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        platforms: linux/arm64
        push: true
        tags: |
          ghcr.io/memebattle/ligretto-frontend:${{github.sha}}
          ghcr.io/memebattle/ligretto-frontend:latest
        context: './apps/ligretto-frontend'

  ligretto-gameplay-backend-image:

    needs: prepare-common

    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: '16.14.2'
          cache: 'yarn'

      - name: Install yarn
        run: npm install --global yarn

      - name: Auth npm
        run: |
          yarn config set -H npmScopes.memebattle.npmRegistryServer "https://npm.pkg.github.com"
          yarn config set -H npmScopes.memebattle.npmAuthToken "${{ secrets.CI_REGISTRY_TOKEN }}"

      - name: Install dependecies
        run: yarn

      - name: Download common packages
        uses: actions/download-artifact@v2
        with:
          name: packages-builds

      - name: Build backend
        run: yarn run ligretto:back:build

      - name: Docker login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          platforms: linux/arm64
          push: true
          tags: |
            ghcr.io/memebattle/ligretto-gameplay-backend:${{ github.sha }}
            ghcr.io/memebattle/ligretto-gameplay-backend:latest
          context: './apps/ligretto-gameplay-backend'

  ligretto-core-backend-image:

    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Dependencies cache
        uses: actions/cache@v2
        with:
          path: '.yarn/cache'
          key: ${{ hashFiles('yarn.lock') }}

      - name: Docker login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          platforms: linux/arm64
          push: true
          tags: |
            ghcr.io/memebattle/ligretto-core-backend:${{ github.sha }}
            ghcr.io/memebattle/ligretto-core-backend:latest
          build-args:
            NPM_TOKEN=${{ secrets.CI_REGISTRY_TOKEN }}
          context: '.'
          file: '.docker/Ligretto-core-backend_Dockerfile'

      - name: Extract yarn cache to save between jobs
        run: |
          docker create --name ligretto-core-backend ghcr.io/memebattle/ligretto-core-backend:$GITHUB_SHA
          docker cp ligretto-core-backend:/memebattle/.yarn/cache .yarn/cache
          docker container rm ligretto-core-backend

  ligretto-ui-image:

    needs: prepare-common

    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: '16.14.2'
          cache: 'yarn'

      - name: Install yarn
        run: npm install --global yarn

      - name: Auth npm
        run: |
          yarn config set -H npmScopes.memebattle.npmRegistryServer "https://npm.pkg.github.com"
          yarn config set -H npmScopes.memebattle.npmAuthToken "${{ secrets.CI_REGISTRY_TOKEN }}"

      - name: Install dependecies
        run: yarn

      - name: Download common packages
        uses: actions/download-artifact@v2
        with:
          name: packages-builds

      - name: Build ligretto ui storybook
        run: yarn run build-storybook

      - name: Docker login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          platforms: linux/arm64
          push: true
          tags: |
            ghcr.io/memebattle/ligretto-ui:${{ github.sha }}
            ghcr.io/memebattle/ligretto-ui:latest
          context: '.'
          file: '.docker/Ligretto-ui_Dockerfile'

#  deploy:
#    needs: [ligretto-frontend-image, ligretto-ui-image, ligretto-gameplay-backend-image, ligretto-core-backend-image]
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#        name: Checkout
#
#      - name: Setup SSH
#        uses: kielabokkie/ssh-key-and-known-hosts-action@v1.1.0
#        with:
#          ssh-private-key: ${{ secrets.AWS_CI_PRIVATE_KEY }}
#          ssh-host: mems.fun
#
#      - name: Docker login
#        uses: docker/login-action@v1
#        with:
#          registry: ghcr.io
#          username: ${{ github.repository_owner }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: create docker context
#        run: docker context create remote --docker "host=ssh://ci@mems.fun"
#
#      - name: deploy stack
#        run: |
#          docker context use remote
#          docker stack deploy --prune --with-registry-auth --resolve-image=always -c docker-compose.deploy.yml Ligretto
#
#      - name: Migrations
#        env:
#          PORT: 3333
#          HOST: 0.0.0.0
#          NODE_ENV: production
#          APP_KEY: BYnNsw-r-ndJTCy15Uqo8JAF4ONCA4X1
#          PARTNER_ID: 61587c1bdc151b004107a2b5
#          CAS_URI: https://cas.mems.fun/api
#          DB_CONNECTION: pg
#          PG_HOST: ${{ secrets.LIGRETTO_PG_HOST }}
#          PG_PORT: 5432
#          PG_USER: ${{ secrets.LIGRETTO_PG_USER }}
#          PG_PASSWORD: ${{ secrets.LIGRETTO_PG_PASSWORD }}
#          CAS_PUBLIC_KEY_PATH: /key.pem
#          PG_DB_NAME: ligretto-core
#        run: docker run --rm --entrypoint="" ghcr.io/memebattle/ligretto-core-backend:${{ github.sha }} yarn run ligretto:core-backend:production-migrate
